# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

:

In [ ]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

:

In [ ]:
# review the collections in our database
collections = db.list_collection_names()
print(collections)

:

In [ ]:
# assign the collection to a variable
establishments = db['establishments']

:

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments with a hygiene score of 20: {count}")

# Display the first document in the results using pprint
result = establishments.find_one(query)
print("First establishment with a hygiene score of 20:")
pprint(result)

:

In [ ]:
# # Convert the result to a Pandas DataFrame
# cursor = establishments.find(query)# Retrieve all documents matching the query
# documents = list(cursor)
# df = pd.DataFrame(documents)

# # Print the number of rows in the DataFrame
# pprint(f"Number of rows in DataFrame: {len(df)}")

# # Display the first 10 rows of the DataFrame
# pprint(df.head(10))

# #to make DataFrame more readable and analysis-friendly:
# #df = df[["BusinessName", "BusinessType", "AddressLine1", "PostCode", "RatingValue", "RatingDate"]] 
# # pprint(df.head(10)) 

# Convert the result to a Pandas DataFrame
hygiene = establishments.find(query)

hygiene_df = pd.DataFrame(hygiene)


# Display the number of rows in the DataFrame
print(hygiene_df.shape[0])

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

:

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    "LocalAuthorityName": {"$regex": "London", "$options": "i"},  # Case-insensitive "London"
    "RatingValue": {"$gte": 4}  # Greater than or equal to 4
}

#Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments with London as the Local Authority and RatingValue >= 4: {count}")

# Display the first document in the results using pprint
results = list(establishments.find(query))
print("First establishment with London as the Local Authority and RatingValue >= 4:")
pprint(results[0])

:

In [ ]:
# # Convert the result to a Pandas DataFrame
# df = pd.DataFrame(results)

# # Display the number of rows in the DataFrame
# print(f"Number of rows in the DataFrame: {len(df)}")

# # Display the first 10 rows of the DataFrame
# pprint("First 10 rows of the DataFrame:")
# pprint(df.head(10))

# Convert the result to a Pandas DataFrame
london = (establishments.find(query))
london_df = pd.DataFrame(london)

# Display the number of rows in the DataFrame
pprint(london_df.shape[0])
# Display the first 10 rows of the DataFrame
london_df.head(10)

:

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
#'geocode': {'latitude': 51.490142, 'longitude': 0.08384}

degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

# query = {'latitude': {'$gte':'4'},'RatingValue': {'$gte':'5'}}

query = {'geocode.latitude':{'$gte':latitude-degree_search,'$lte':latitude+degree_search},
        'geocode.longitude':{'$gte':longitude-degree_search,'$lte':longitude+degree_search},
        'RatingValue':'5'}
sort =  [('scores.Hygiene', 1)]
limit = 5

# Print the results
pprint(list(establishments.find(query).sort(sort).limit(limit)))

:

In [ ]:
# Convert result to Pandas DataFrame
establishments_1 = list(establishments.find(query).sort(sort).limit(limit))
df_1 = pd.DataFrame(establishments_1)
print(df_1)

:

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
bad_hygiene = {'$match': {'scores.Hygiene':0}}
# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': {"LocalAuthorityName": "$LocalAuthorityName",
                          'count': { '$sum': 1 }
                         }
              }}
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': +1 }}
# Print the number of documents in the result
pipeline = [bad_hygiene, group_query, sort_values]
# Print the first 10 results
results = list(establishments.aggregate(pipeline))
# pprint("Number of documents in result: ", len(results))
pprint(results[0:10])

:

In [ ]:
# Convert the result to a Pandas DataFrame
bad_hygiene_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print("Total rows in bad_hygiene_df is ",len(bad_hygiene_df))
# Display the first 10 rows of the DataFrame
bad_hygiene_df.head(10)

: